<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pergunstas e Respostas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include ("partials/header") %>
        <main>
            <section>
                <h1 style="color:rgb(98, 98, 230);text-align: center;"> Perguntas </h1><br>
                <% perguntas.forEach((el)=>{ %>
                <div class="card">
                    <h4>Titulo: </h4>
                     <div class="campo"><%= el.titulo %></div> <br>
                    <h4>Descricao: </h4>
                    <div class="campo campo2"><%= el.descricao %></div><br>
                </div>
                <br>  
                    <button><a href="/pergunta/<%= el.id %>">Responder</a></button><br><br>
                    <hr><br>
                <% }) %>
            </section>
        </main>
        <footer>
        </footer>
        <script src="/js/script.js"></script>
</body>

</html>